{% extends "base_login.html" %}

{% block contenido %}

	<div class="space-y-2 my-5">
		<p class="text-2xl text-center font-bold text-gray-700">Olvidaste tu contraseña?</p>
		<p class="text-sm text-center text-gray-500">No te preocupes, ingrese el correo electronico asociado a tu
			cuenta.</p>
	</div>
    {% if messages %}
        <div class="mt-4">
            {% for message in messages %}
                <p class="text-center text-red-400">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
	<form method="post">
		{% csrf_token %}
		<div class="space-y-2 w-full">
			<div class="flex">
				<div class="border border-gray-500 rounded-l-lg flex items-center justify-center w-16">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					     stroke="currentColor" class="size-9 text-gray-500">
						<path stroke-linecap="round" stroke-linejoin="round"
						      d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
					</svg>
				</div>
				<input type="email" class="rounded-r-lg w-full" id="id_email" name="email"
				       placeholder="Ingrese correo electronico.">
			</div>
		</div>
		
		<div class="space-y-2 flex flex-col my-5">
			<button type="submit" class="bg-gray-700 text-white font-semibold rounded-lg px-4 py-2 ">Continuar</button>
			<p class="text-sm text-end text-gray-500"><a href="{% url 'login' %}">Volver</a></p>
		</div>
	</form>
	{% if form.errors %}
			{% for field, errors in form.errors.items %}
				{% for error in errors %}
					{% if field == "__all__" %}
						<p class="text-center text-red-400"> {{ error }}</p>
					{% elif field == "email" %}
						<p class="text-center text-red-400">Correo electrónico: {{ error }}</p>
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endif %}

{% endblock %}